.pageLogin {
    background-color: #F2F2F2;
    height: 100vh;
    display: flex;
    font-family: Helvetica;
    
    .wrapper{
        margin: auto;
        max-width: 425px;
        width: 100%;
        box-sizing: border-box;
    }
    .innerWrapper, 
    .secondPartForm {
        background: #FFFFFF;
        box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
        border-radius: 7px;
        padding: 25px 24px 21px;
    }
    .secondPartForm {
        margin-top: 21px;
        text-align: center; 
        font-size: 14px;

        > a {
            color: #349A89;
            text-transform: uppercase;    
        }
    }
    h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 32px;
    }

    .alert {
       @extend .secondPartForm;
       color: red; 
       font-size: 18px;
       margin-bottom: 21px;
    }
}