.btn {
    background-color: #349A89;

    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    
    color: #FFFFFF;
    text-align: center;

    border-radius: 5px;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: darken(#349A89, $amount:6);
} 

.invers {
    background-color: #fff;
    color:  #349A89;
}